.libo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: #fff;
    transition: opacity 0.2s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.libo-shadow {
    position: absolute;
    transition-duration: 0.2s;
    transition-property: transform;
    display: block;
    max-width: 100%;
    cursor: pointer;
}
