.libra-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    transition: opacity 0.2s ease-in-out;

    backdrop-filter: blur(2rem);
    background-color: rgba(255, 255, 255, 0.75);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .libra-overlay {
        background-color: rgba(0, 0, 0, 0.75);
    }
}

.libra-shadow {
    position: absolute;
    transition-duration: 0.2s;
    transition-property: transform;
    display: block;
    max-width: 100%;
    cursor: pointer;
}

.libra-shadow.open {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
